hawkular-wildfly-agent/src/main/resources/schema/hawkular-agent-monitor-subsystem.xsd

<!--

    Copyright 2015-2016 Red Hat, Inc. and/or its affiliates
    and other contributors as indicated by the @author tags.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:org.hawkular.agent:agent:1.0"
           xmlns="urn:org.hawkular.agent:agent:1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

  <!-- The subsystem root element -->
  <xs:element name="subsystem" type="subsystemType"/>

  <xs:complexType name="subsystemType">
    <xs:sequence>
      <xs:element name="diagnostics"           type="diagnosticsType"        minOccurs="0" maxOccurs="1"/>
      <xs:element name="storage-adapter"       type="storageType"            minOccurs="1" maxOccurs="1"/>
      <xs:element name="metric-set-dmr"        type="metricSetDmrType"       minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="avail-set-dmr"         type="availSetDmrType"        minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="resource-type-set-dmr" type="resourceTypeSetDmrType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="metric-set-jmx"        type="metricSetJmxType"       minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="avail-set-jmx"         type="availSetJmxType"        minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="resource-type-set-jmx" type="resourceTypeSetJmxType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="managed-servers"       type="managedServersType"     minOccurs="1" maxOccurs="1"/>
      <xs:element name="platform"              type="platformType"           minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="enabled"                      type="xs:boolean"/>
    <xs:attribute name="apiJndiName"                  type="xs:string"/>
    <xs:attribute name="autoDiscoveryScanPeriodSecs"  type="xs:int"/>
    <xs:attribute name="numDmrSchedulerThreads"       type="xs:int"/>
    <xs:attribute name="metricDispatcherBufferSize"   type="xs:int"/>
    <xs:attribute name="metricDispatcherMaxBatchSize" type="xs:int"/>
    <xs:attribute name="availDispatcherBufferSize"    type="xs:int"/>
    <xs:attribute name="availDispatcherMaxBatchSize"  type="xs:int"/>
  </xs:complexType>

  <!-- storage adapter configuration -->
  <xs:complexType name="storageType">
    <xs:attribute name="type"             type="adapterType" default="HAWKULAR"/>
    <xs:attribute name="username"         type="xs:string" use="required"/>
    <xs:attribute name="password"         type="xs:string" use="required"/>
    <xs:attribute name="securityKey"      type="xs:string"/>
    <xs:attribute name="securitySecret"   type="xs:string"/>
    <xs:attribute name="tenantId"         type="xs:string"/>
    <xs:attribute name="feedId"           type="xs:string"/>
    <xs:attribute name="url"              type="xs:string"/>
    <xs:attribute name="useSSL"           type="xs:boolean"/>
    <xs:attribute name="securityRealm"    type="xs:string"/>
    <xs:attribute name="keystorePath"     type="xs:string"/>
    <xs:attribute name="keystorePassword" type="xs:string"/>
    <xs:attribute name="serverOutboundSocketBindingRef" type="xs:string"/>
    <xs:attribute name="accountsContext"  type="xs:string"/>
    <xs:attribute name="inventoryContext" type="xs:string"/>
    <xs:attribute name="metricsContext"   type="xs:string"/>
    <xs:attribute name="feedcommContext"  type="xs:string"/>
    <xs:attribute name="connectTimeoutSeconds"  type="xs:int"/>
    <xs:attribute name="readTimeoutSeconds"  type="xs:int"/>
  </xs:complexType>

  <xs:simpleType name="adapterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HAWKULAR"/>
      <xs:enumeration value="METRICS"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- diagnostics configuration -->
  <xs:complexType name="diagnosticsType">
    <xs:attribute name="enabled"   type="xs:boolean"/>
    <xs:attribute name="interval"  type="xs:int"/>
    <xs:attribute name="timeUnits" type="timeUnitsType"/>
    <xs:attribute name="reportTo"  type="reportToType" default="LOG"/>
  </xs:complexType>

  <xs:simpleType name="reportToType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOG"/>
      <xs:enumeration value="STORAGE"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- DMR configuration -->

  <!-- definition of sets of DMR metrics -->
  <xs:complexType name="metricSetDmrType">
    <xs:sequence>
      <xs:element name="metric-dmr" type="metricDmrType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="metricDmrType">
    <xs:attribute name="name"        type="xs:string" use="required"/>
    <xs:attribute name="path"        type="xs:string" use="required"/>
    <xs:attribute name="attribute"   type="xs:string" use="required"/>
    <xs:attribute name="resolveExpressions" type="xs:boolean"/>
    <xs:attribute name="includeDefaults"    type="xs:boolean"/>
    <xs:attribute name="metricType"  type="metricTypeType"/>
    <xs:attribute name="metricUnits" type="metricUnitsType"/>
    <xs:attribute name="interval"    type="xs:int"/>
    <xs:attribute name="timeUnits"   type="timeUnitsType"/>
  </xs:complexType>

  <xs:simpleType name="metricTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="gauge"/>
      <xs:enumeration value="counter"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="timeUnitsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="milliseconds"/>
      <xs:enumeration value="seconds"/>
      <xs:enumeration value="minutes"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="metricUnitsType">
    <xs:restriction base="xs:string">
      <!-- memory -->
      <xs:enumeration value="bytes"/>
      <xs:enumeration value="kilobytes"/>
      <xs:enumeration value="megabytes"/>
      <xs:enumeration value="gigabytes"/>
      <xs:enumeration value="terabytes"/>

      <!-- time -->
      <xs:enumeration value="seconds"/>
      <xs:enumeration value="minutes"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- definition of sets of DMR availability checks -->
  <xs:complexType name="availSetDmrType">
    <xs:sequence>
      <xs:element name="avail-dmr" type="availDmrType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="availDmrType">
    <xs:attribute name="name"      type="xs:string" use="required"/>
    <xs:attribute name="path"      type="xs:string" use="required"/>
    <xs:attribute name="attribute" type="xs:string" use="optional"/> <!-- if not specified, existence of resource at path is used for availability status -->
    <xs:attribute name="resolveExpressions" type="xs:boolean"/>
    <xs:attribute name="includeDefaults"    type="xs:boolean"/>
    <xs:attribute name="interval"  type="xs:int"/>
    <xs:attribute name="timeUnits" type="timeUnitsType"/>
    <xs:attribute name="upRegex"   type="xs:string"/>
  </xs:complexType>

  <!-- definition of sets of DMR resource types -->
  <xs:complexType name="resourceTypeSetDmrType">
    <xs:sequence>
      <xs:element name="resource-type-dmr" type="resourceTypeDmrType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="resourceTypeDmrType">
    <xs:sequence>
      <xs:element name="resource-config-dmr" type="resourceConfigDmrType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="operation-dmr"       type="operationDmrType"      minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"                 type="xs:string" use="required"/>
    <xs:attribute name="resourceNameTemplate" type="xs:string" use="required"/>
    <xs:attribute name="path"                 type="xs:string" use="required"/>
    <xs:attribute name="parents"              type="xs:string"/>
    <xs:attribute name="metricSets"           type="xs:string"/>
    <xs:attribute name="availSets"            type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="resourceConfigDmrType">
    <xs:attribute name="name"      type="xs:string" use="required"/>
    <xs:attribute name="path"      type="xs:string" use="required"/>
    <xs:attribute name="attribute" type="xs:string" use="required"/>
    <xs:attribute name="resolveExpressions" type="xs:boolean"/>
    <xs:attribute name="includeDefaults"    type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="operationDmrType">
    <xs:attribute name="name"          type="xs:string" use="required"/>
    <xs:attribute name="path"          type="xs:string"/>
    <xs:attribute name="operationName" type="xs:string"/>
  </xs:complexType>

  <!-- JMX configuration -->

  <!-- definition of sets of JMX metrics -->
  <xs:complexType name="metricSetJmxType">
    <xs:sequence>
      <xs:element name="metric-jmx" type="metricJmxType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="metricJmxType">
    <xs:attribute name="name"        type="xs:string" use="required"/>
    <xs:attribute name="objectName"  type="xs:string" use="required"/>
    <xs:attribute name="attribute"   type="xs:string" use="required"/>
    <xs:attribute name="metricType"  type="metricTypeType"/>
    <xs:attribute name="metricUnits" type="metricUnitsType"/>
    <xs:attribute name="interval"    type="xs:int"/>
    <xs:attribute name="timeUnits"   type="timeUnitsType"/>
  </xs:complexType>

  <!-- definition of sets of JMX availability checks -->
  <xs:complexType name="availSetJmxType">
    <xs:sequence>
      <xs:element name="avail-jmx" type="availJmxType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="availJmxType">
    <xs:attribute name="name"       type="xs:string" use="required"/>
    <xs:attribute name="objectName" type="xs:string" use="required"/>
    <xs:attribute name="attribute"  type="xs:string" use="optional"/> <!-- if not specified, existence of resource at path is used for availability status -->
    <xs:attribute name="interval"   type="xs:int"/>
    <xs:attribute name="timeUnits"  type="timeUnitsType"/>
    <xs:attribute name="upRegex"    type="xs:string"/>
  </xs:complexType>

  <!-- definition of sets of JMX resource types -->
  <xs:complexType name="resourceTypeSetJmxType">
    <xs:sequence>
      <xs:element name="resource-type-jmx" type="resourceTypeJmxType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="resourceTypeJmxType">
    <xs:sequence>
      <xs:element name="resource-config-jmx" type="resourceConfigJmxType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="operation-jmx"       type="operationJmxType"      minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"                 type="xs:string" use="required"/>
    <xs:attribute name="resourceNameTemplate" type="xs:string" use="required"/>
    <xs:attribute name="objectName"           type="xs:string" use="required"/>
    <xs:attribute name="parents"              type="xs:string"/>
    <xs:attribute name="metricSets"           type="xs:string"/>
    <xs:attribute name="availSets"            type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="resourceConfigJmxType">
    <xs:attribute name="name"       type="xs:string" use="required"/>
    <xs:attribute name="objectName" type="xs:string" use="required"/>
    <xs:attribute name="attribute"  type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="operationJmxType">
    <xs:attribute name="name"          type="xs:string" use="required"/>
    <xs:attribute name="objectName"    type="xs:string"/>
    <xs:attribute name="operationName" type="xs:string"/>
  </xs:complexType>

  <!-- managed server configuration-->
  <xs:complexType name="managedServersType">
    <xs:sequence>
      <xs:element name="remote-dmr" type="remoteDmrType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="local-dmr"  type="localDmrType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="remote-jmx" type="remoteJmxType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="remote-prometheus" type="remotePrometheusType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="localDmrType">
    <xs:attribute name="name"               type="xs:string" use="required"/>
    <xs:attribute name="enabled"            type="xs:boolean"/>
    <xs:attribute name="resourceTypeSets"   type="xs:string"/>
    <xs:attribute name="setAvailOnShutdown" type="xs:string"/>
    <xs:attribute name="tenantId"           type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="remoteDmrType">
    <xs:attribute name="name"               type="xs:string" use="required"/>
    <xs:attribute name="enabled"            type="xs:boolean"/>
    <xs:attribute name="host"               type="xs:string" use="required"/>
    <xs:attribute name="port"               type="xs:int"    use="required"/>
    <xs:attribute name="username"           type="xs:string"/>
    <xs:attribute name="password"           type="xs:string"/>
    <xs:attribute name="useSSL"             type="xs:boolean"/>
    <xs:attribute name="securityRealm"      type="xs:string"/>
    <xs:attribute name="setAvailOnShutdown" type="xs:string"/>
    <xs:attribute name="resourceTypeSets"   type="xs:string"/>
    <xs:attribute name="tenantId"           type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="remoteJmxType">
    <xs:attribute name="name"               type="xs:string" use="required"/>
    <xs:attribute name="enabled"            type="xs:boolean"/>
    <xs:attribute name="url"                type="xs:string" use="required"/>
    <xs:attribute name="username"           type="xs:string"/>
    <xs:attribute name="password"           type="xs:string"/>
    <xs:attribute name="securityRealm"      type="xs:string"/>
    <xs:attribute name="setAvailOnShutdown" type="xs:string"/>
    <xs:attribute name="resourceTypeSets"   type="xs:string"/>
    <xs:attribute name="tenantId"           type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="remotePrometheusType">
    <xs:attribute name="name"          type="xs:string" use="required"/>
    <xs:attribute name="enabled"       type="xs:boolean"/>
    <xs:attribute name="url"           type="xs:string" use="required"/>
    <xs:attribute name="username"      type="xs:string"/>
    <xs:attribute name="password"      type="xs:string"/>
    <xs:attribute name="securityRealm" type="xs:string"/>
    <xs:attribute name="labels"        type="xs:string"/>
    <xs:attribute name="interval"      type="xs:int"/>
    <xs:attribute name="timeUnits"     type="timeUnitsType"/>
    <xs:attribute name="tenantId"      type="xs:string"/>
  </xs:complexType>

  <!-- [agent] platform configuration -->
  <xs:complexType name="platformType">
    <xs:all>
      <xs:element name="file-stores"           type="platformMetricType"     minOccurs="0" maxOccurs="1"/>
      <xs:element name="memory"                type="platformMetricType"     minOccurs="0" maxOccurs="1"/>
      <xs:element name="processors"            type="platformMetricType"     minOccurs="0" maxOccurs="1"/>
      <xs:element name="power-sources"         type="platformMetricType"     minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="enabled"               type="xs:boolean"/>
    <xs:attribute name="machineId"             type="xs:string"/>
  </xs:complexType>

  <!-- various platform metrics configuration -->
  <xs:complexType name="platformMetricType">
    <xs:attribute name="enabled"   type="xs:boolean"/>
    <xs:attribute name="interval"  type="xs:int"/>
    <xs:attribute name="timeUnits" type="timeUnitsType"/>
  </xs:complexType>

</xs:schema>
